<div class="under-line under-line-left">
   <h2>지원서 조회하기</h2>
</div>

<div class="sub-container">
   <% if !applicant_signed_in? %>
      <%= form_for("applicant", :html => {:class => "form-horizontal"}, :url => applicant_session_path) do |f| %>
         <div class="control-group">
            <%= f.label :email, "이메일", :class => "control-label" %>
            <div class="controls">
               <%= f.text_field :email %>
            </div>
         </div>
         <div class="control-group">
            <%= f.label :password, "비밀번호", :class => "control-label" %>
            <div class="controls">
               <%= f.password_field :password %>
            </div>
         </div>
         <div class="control-group">
            <div class="controls">
               <%= link_to "비밀번호를 잊으셨나요?", new_password_path('applicant') %>
            </div>
         </div>
      <% end %>
   <% end %>
</div>

<div class="under-line under-line-right">
   <span class="symbol">>>></span>
   <%= link_to_function "<span>조</span>회하기".html_safe, "$('form').submit();" %>
</div>
