
<%= link_to "Sign up", new_applicant_path  %>
<br />


<% if !applicant_signed_in? %>
	<div class="login-form">
		<%= form_for("applicant", :url => applicant_session_path) do |f| %>
			<div class="field">
				<%= f.label :email %><br />
				<%= f.text_field :email %>
			</div>

			<div class="field">
				<%= f.label :password %><br />
				<%= f.password_field :password %>
			</div>

			<div class="actions">
				<%= f.submit "Log in" %>
			</div>

			<%= link_to "Forgot your password", new_password_path('applicant') %>


		<% end %>
	</div>
<% else %>
	<%= link_to "Edit your application", edit_applicant_registration_path %>
<% end %>
