<h2> Welcome to Wafflestudio </h2>

<div id="countdownTimer"></div>
<input type="text" id="deadlinePicker" />
<script type="text/javascript">
$('#deadlinePicker').datepicker({dateFormat: "y,mm,dd"});
$(document).ready(function() {
  var timer = setInterval(function(){
      var seconds = remaining.getSeconds('October 3, 2012');
      
      var countdownTimer = remaining.getStringDigital(seconds);
      
      if (countdownTimer == '') {
          $('#countdownTimer').html('...');
          clearInterval(timer);
      } else {
          $('#countdownTimer').html(countdownTimer);
      }
  }, 500);
})
</script>

<%= link_to "Sign up", new_applicant_path  %>
<br /><br />
<%= render "login_items" %>
<p>Already a member, sigin </p>


<% if !applicant_signed_in? %>
	<div class="login-form">
		<%= form_for("applicant", :url => applicant_session_path) do |f| %>
			<div class="field">
				<%= f.label :email %><br />
				<%= f.text_field :email %>
			</div>

			<div class="field">
				<%= f.label :password %><br />
				<%= f.password_field :password %>
			</div>

			<div class="actions">
				<%= f.submit "Log in" %>
			</div>

			<%= link_to "Forgot your password", new_password_path('applicant') %>


		<% end %>
	</div>
<% end %>
