<h1>Signup Form</h1>

<% if @applicant.errors.any? %>
  <div class="errors_explanation">
    <ul>
      <% @applicant.errors.full_messages.each do |error| %>
        <li> <%= error %> </li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(:applicant, :url => submit_signup_form_path ) do |f| %>
	<div class="signup_form">
		<div class="fields">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>

		<div class="fields">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>

    
		<div class="fields">
			<%= f.label :phone %>
			<%= f.text_field :phone %>
		</div>


		<div class="fields">
			<%= f.label :password %>
			<%= f.password_field :password %>
		</div>

		<div class="fields">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</div>


		<div class="actions">
			<%= f.submit "Sign Up" %> 
		</div>
	</div>
<% end %>


